
.fav-list-container {
  flex: 1;
  padding: 20px 30px;
  margin: 10px;
  margin-top: 100px;
  max-height: 100vh;
  border-style: dotted;
  border-width: 2px;
  color: black;
}

.favourite-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.fav-property-cards {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-left: -10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
}

.fav-property-image {
  width: 150px;
  height: 140px;
  border-radius: 4px;
  object-fit: cover;
}

.fav-property-info {
  flex: 1;
}

.fav-icon {
  color: red;
  cursor: pointer;
}

.clear-button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

