body {
    font-family: Arial, sans-serif;
    color: #E1E2E2; /* Light text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
  }
  
  .search-form {
    background-color: #1D2228; /* Form container background */
    border: 1px solid #FB8122; /* Orange border */
    border-radius: 8px;
    padding: 20px 30px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .search-form h2 {
    color: #FB8122; /* Orange heading */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .price-range {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .price-range input {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    color: #E1E2E2;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    background-color: #E1E2E2;
    border: 1px solid #FB8122;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: #1D2228;
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-group span {
    margin: 0 10px;
    color: #E1E2E2;
    align-self: center;
  }
  
  .error {
    color: #FB8122; /* Orange error text */
    font-size: 12px;
    margin-top: 5px;
  }
  
  .search-btn {
    background-color: #FB8122;
    color: #1D2228;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: #E1E2E2;
    color: #FB8122;
  }
  
  .search-btn:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #FB8122;
  }
  